

@import 'settings.global';

html {
    font-family: $main-font;
}

img {
    max-width: 100%;
}

blockquote {
    page-break-inside: avoid;
}

p {
    orphans: 3;
    widows: 2;
}

a { // NOTE: wszystkie czy tylko w części głównej?
    page-break-inside: avoid;
    color: #000;
    &:link, &:visited {
        &:after {
            content: " [" attr(href) "]";
            color: blue;
            font-size: 10pt;
        }
    }

    &[href="#"]:after {
        display: none;
    }
}

.main:after {
    display: block;
    content: 'Thanks for printing';
    color: #888;
    width: 50vw;
    margin: 0 auto;
    text-align: center;
    font-size: 0.8rem;
    padding-top: 30px;
}